*{padding: 0;
    margin: 0;
    box-sizing: border-box;
}
    /* heading */
    /* background */
    .heading{height: 700px; }
    .heading .back img{width: 100%;
        overflow: hidden;
    height: 630px;
    position: relative;}
    /* navbar */

    nav{display: flex; justify-content: space-between;
        align-items: center; 
            }
    nav ul a{text-decoration: none; color: blue;
    font-size: larger;  }
    nav ul a:hover {color: red;
          text-decoration: underline;
        cursor: pointer; transform: translate(0,5px);}


    nav .links{display: flex; align-items: center; }
    nav .links{position: absolute;top: 30px;}
    nav ul{display: flex; }
    nav li{margin: 10px;
    padding: 10px; list-style-type: none; }
    nav img{width: 200px;}

    nav button {
        background-color: white;
        border: none;
        border-radius: 15px;
        padding: 10px 25px;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
        cursor: pointer;
        z-index: 100;}
    nav button:hover{color: red;
          text-decoration: underline;
        cursor: pointer; transform: translate(0,5px);}

    nav button{position: absolute; top:75px; right: 150px;}
    /* end of navbar */

    .end-bar .par{position: relative;display: flex;
        justify-content: space-around;align-items: center;
            bottom:550px; left: 50px; font-size: 23px;
        }
        .end-bar .par .p{margin-left: -5%; }
        .end-bar .par .p span{color: blueviolet;}
        .end-bar .par .img1{margin-left: -20%;}

    .end-bar .img2{position: absolute; top: 100px; right: 270px;}
    .end-bar .img3{position: absolute; bottom: 5px; right: 270px;}
    .end-bar .img4{position: absolute; top: 550px;}
    /* end of heading */

    /* container */
    .container{padding: 0;
    margin: 0;
    height: 1000px;
    background-color: rgba(255, 255, 255, 0.503);
    position: relative;}

    .container .deliver{position: absolute; top: 20px; right: 100px;}
    .container .fast{text-align: center; position: absolute;
    left: 190px; top: 70px;}
    .container .real{text-align: center; position: absolute;
    right: 350px; top: 180px;}

    .container .discount{display: flex; 
    align-items: center; text-align: center;justify-content: space-around;
    position: relative; top: 400px;}
    .container .pdis{position: absolute; text-align: center;
    left: 230px; top: 480px; font-size: 20px;color: white; }

    .container .round{position: relative;
    top: 500px; display: flex; justify-content: space-around;}

    .container .round3{ text-align: center;}

    /* end container */




    /* footer */
    .footer{height: 600px;
    padding: 0;
    margin: 0;
    overflow: hidden; 
position: relative;}


    .footer .footback img{width: 110%;
    height: 850px;
    margin-left: -25px;
    position: absolute;
     }

     .footer .imgf{position: absolute;
        right: 100px; bottom: 0;}

    .footer .footall{position: absolute; 
    bottom: 10px;}
    
    .footer .play-store{display: flex;padding: 10px;
        justify-content: space-between;}
    .footer .play-store i{margin: 5px; color: blue;}
    .footer ul{display: flex; padding: 10px; }
    .footer .social-icons{display: flex; padding: 10px;}
    .footer .social-icons i{margin: 5px; color: white;}
    .footer li{margin: 5px; 
    list-style-type: none; }
    .footer ul a{text-decoration: none; color: white;}
    .footer .play-store a{text-decoration: none;}

    .footer .play-store .apple{display: flex;
        background-color: white; align-items: center;
    border-radius: 5px; width: 120px; text-align: center;}
    .footer .play-store .google{display: flex;
        background-color: white; align-items: center;
        
    border-radius: 5px; width: 120px; text-align: center;}


    /* E N D */























